.contenedor{
    width: 100%;
    height: 8000px;
    background-color: black;
 
}
.encabezado{
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: initial;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 3px solid rgb(143, 0, 0);
}
.menu{
    width: 100%;
    height: 50px;
    background-color: rgb(79, 0, 0);
    display: flex;
}

.tecnología{
    width: 330px;
    height: 48px;
    background-color: aliceblue;
    margin: 2px;
    font-size: 30px;
}

.img {

width: 500px;
height: 300px;


}




.sociales{
    width: 330px;
    height: 48px;
    background-color: aliceblue;
    margin: 2px;
font-size: 30px;
}

.imgg {

    width: 500px;
    height: 300px;
    
    
    }
    
    .imggg {

        width: 500px;
        height: 300px;
        
        
        }

.biología{
    width: 320px;
    height: 48px;
    background-color: aliceblue;
    margin: 2px;
    font-size: 30px;
}

.imgggg {

    width: 500px;
    height: 300px;






}



.matemáticas{
    width: 330px;
    height: 48px;
    background-color: aliceblue;
    margin: 2px;
    font-size: 30px;
}
.contenedorp2{
    display: flex;
    width: 100%;
    height: 1000px;
    background-color: white;
}
.izquierda{
    width: 20%;
    height: 8000px;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(145, 0, 0);
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.centro{
    
    width: 60%;
    height: 8000px;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: initial;
    color: rgb(255, 255, 255);
    text-align: justify;
    border: 3px solid rgb(143, 0, 0)
}
.derecha{
    width: 20%;
    height: 8000px;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(143, 0, 0); 
    font-size: 15px;
    color: aliceblue;
}